.login-container {
    margin-top: 130px;
  }
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-color: rgb(198, 142, 198);;
  }
  .card-header {
    background-color: rgb(198, 142, 198);;
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 0 0;
    color: white;
  }
  .card-body {
    padding: 40px;
  }
  .form-group {
    margin-bottom: 25px;
  }
  .form-control {
    border-radius: 5px;
  }
  .btn-login {
    background-color: rgb(198, 142, 198);;
    border: none;
    border-radius: 5px;
  }
  .btn-login:hover {
    background-color: rgb(218, 62, 218);;
  }